.post {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .replies {
    line-height: 0px;
  }
}

.post:first-child {
  margin-top: 192px;
}

.post:nth-child(2) {
  .upvote-container {
    .vote-count {
      font: normal normal bold 16px/22px Open Sans;
    }
  }
}
