@import '../../scss/variables.scss';

.button {
  @include spacing(54px, 754px, 100%, 100%);
  border: 3px solid #7510F7;
  border-radius: 50px;
  opacity: 1;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font: normal normal bold 30px/41px Open Sans;
}


.button-message {
  font: normal normal bold 19px/41px Open Sans;
}
