.button {
  /* Layout Properties */
  top: 57px;
  left: 754px;
  width: 100%;
  height: 100%;
  /* UI Properties */
  border: 3px solid #7510F7;
  border-radius: 50px;
  opacity: 1;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font: normal normal bold 30px/41px Open Sans;
}


.button-message {
  font: normal normal bold 19px/41px Open Sans;
}
