.upvote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #D5BDFD;
  opacity: 1;
  width: 45px;
  height: 93.22px;
  border-radius: 50px;

  .vote-icon {
    color: rgba(210, 190, 252, 1);
    cursor: pointer;
  }

  .vote-count {
    text-align: center;
    width: 37px;
    font: normal normal bold 16px/24px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 6.5px;
    opacity: 1;
  }
}

.arr-up, .arr-down {  /* Arrows */
  border:       solid currentColor;
  border-width: 0 .23em .23em 0;
  display:      inline-block;
  padding:      .25em;
}

.arr-up {transform:rotate(-135deg);}
.arr-down  {transform:rotate(45deg);}
