.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 226px;
  top: 226px;
  left: 161px;
  width: 959px;
  height: 699px;
  /* UI Properties */
  background: #F7F7F7 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #0000004D;
  opacity: 1;



  .top-modal-input {
    /* Layout Properties */
    top: 346px;
    left: 316px;
    width: 650px;
    height: 236px;
    /* UI Properties */
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 3px solid #7510F7;
    border-radius: 50px;
    opacity: 1;
  }

  .bottom-modal-name {
    /* Layout Properties */
    top: 613px;
    left: 316px;
    width: 650px;
    height: 80px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 20px #00000029;
    border: 3px solid #7510F7;
    opacity: 1;
    border-radius: 50px;
  }

}
