@import '../../scss/variables.scss';


.modal {
  @include flex-column-center;
  @include background-style(#F7F7F7);
  @include box-shadow(#0000004D);
  @include width-height(959px, 699px);
  min-width: 959px;
  min-height: 699px;
  margin: 226px 160px 0 161px;
  opacity: 1;

  .top-modal-input {
    @include spacing(346px, 316px, 650px, 236px);
    @include background-style(#FFFFFF);
    border: $border-modal;
    border-radius: 50px;
    opacity: 1;

    .input-text {
      @include spacing(389px, 357px, 383px, 44px);
      font: $modal-font;
      text-align: left;
      color: #141C3AA2;
      letter-spacing: 0px;
      margin: 43px 0 0 41px;
      width: 90%;
      border: none;
      outline: none;
    }
  }

  .bottom-modal-name {
    display: flex;
    align-items: center;
    @include spacing(613px, 316px, 650px, 80px);
    @include background-style(#FFFFFF);
    border: $border-modal;
    border-radius: 50px;
    margin: 31px 0 45px 0;
    opacity: 1;

    .input-name {
      @include spacing(636px, 353px, 383px, 44px);
      font: $modal-font;
      font: normal normal 600 25px/34px Open Sans;
      color: #141C3A;
      text-align: left;
      margin-left: 37px;
      letter-spacing: 0px;
      outline: none;
      border: none;
      opacity: 1;
    }
  }
}

.modal-button-post {
  margin: 0 504px 0 156px;
  @include spacing(738px, 317px, 299px, 80px);
  @include width-height(299px, 80px);
}

.modal-button-reply {
  margin: 0 504px 0 156px;
  @include spacing(738px, 317px, 299px, 80px);
  @include width-height(295px, 80px);
}

.box-shadow-modal-top {
  box-shadow: 0px 10px 20px #00000029;
}

.box-shadow-name {
  box-shadow: 0px 8px 20px #00000029;
}
