.header-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* Layout Properties */
  top: 10px;
  left: 88px;
  width: 1104px;
  height: 180px;
  /* UI Properties */
  background: #141C3A 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 8px #00000034;
  border-radius: 20px;
  opacity: 1;
  position: absolute;

  p {
    /* Layout Properties */
    top: 74px;
    left: 167px;
    width: 303px;
    height: 53px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 35px/47px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
}
