@import '../../scss/variables.scss';

.header-component {
  display: flex;
  align-items: center;
  position: absolute;
  @include spacing(10px, 88px, 1104px, 180px);
  background: #141C3A 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 8px #00000034;
  border-radius: 20px;
  opacity: 1;

  h1 {
    @include spacing(74px, 167px, 303px, 53px);
    font: normal normal bold 35px/47px Open Sans;
    color: $base-text;
    letter-spacing: 0px;
    margin: 63px 0 64px 79px;
    opacity: 1;
  }

  .header-button {
    @include spacing(57px, 754px, 345px, 86px);
    margin: 47px 93px 47px auto;
  }
}
