@import './scss/variables.scss';

.app-container {
  @include flex-column-center;
  @include width-height(1280px, 1438px);
  position: relative;

  .modal-container {
    display: flex;
    justify-content: center;
    position: absolute;
    @include width-height(100%, 100%);
    border: $default-border;
    top: 0px;
    z-index: 100;
    background-color: rgba(20,28,28,0.88);


    /*left: -16px;*/
  }

  .post-container {
    @include width-height(100%, 100%);
    background: $base-color 0% 0% no-repeat padding-box;
    border: $default-border;
    margin-top: 88px;
    left: 0px;
    opacity: 1;
  }

}
