@import '../../../scss/variables.scss';

.each-post {
  display: flex;
  @include spacing(280px, 157px, 969px, 218px);
  height: auto;
  min-height: 218px;
  margin: 0 154px 48px 0;
  opacity: 1;

  .message-button {
    @include spacing(422px, 941px, 156px, 49px);
    margin: 5px 29px 27px 718px;
  }
}

.each-reply {
  @include spacing(546px, 268px, 858px, 218px);
  display: flex;
  height: auto;
  min-height: 218px;
  margin: 0 154px 53px 0;

  .message-button {
    @include spacing(422px, 941px, 156px, 49px);
    margin: 0 29px 27px 607px;
  }
}

.message-container {
  min-width: 792px;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  box-shadow: 0px 8px 20px #0000004D;
  width: 100%;
  word-wrap: break-word;
  opacity: 1;
}


.message-username {
  @include width-height(334px, 55px);
  font: normal normal 600 25px/34px Open Sans;
  margin: 35px 0px 8px 40px;
  text-align: left;
  font-size: 25px;
  opacity: 1;
}

.message-input {
  @include comment-styles;
  font: normal normal normal 20px/34px Open Sans;
  width: 90%;
  text-align: left;
  margin: 0 0 3px 40px;
  opacity: 1;
}

.upvote-container {
  display: flex;
  align-items: center;
  min-width: 66px;
  min-height: 100%;
}


.each-reply:first-child {

  .message-container {
    position: relative;
    .message-button {
      position: absolute;
      margin-top: 142px;
      margin-bottom: 29px;
      left: 0;
      top: 0;
    }
  }

  .upvote-container {
    .vote-count {
      font: normal normal bold 17px/23px Open Sans;
    }
  }

  .message-input {
    max-width: 539px;
  }
};

.each-reply:nth-child(2) {
  .message-container {
    .message-button {
      margin-bottom: 22px;
    }
  }
}
