@import '../../../scss/variables.scss';

.each-post {
  /* Layout Properties */
  display: flex;
  @include spacing(280px, 157px, 969px, 218px);
  margin-right: 154px;



  .message-container {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    box-shadow: 0px 8px 20px #0000004D;
    width: 100%;
    opacity: 1;

    .message-username {
      font-size: 25px;
      margin-left: 40px;
    }
    .message-input {
      text-align: left;
      margin-left: 40px;
      font: normal normal normal 20px/34px Open Sans;
      letter-spacing: 0px;
      color: #141C3A;
      opacity: 1;
    }
  }

  .upvote-container {
    display: flex;
    align-items: center;
    width: 66px;
    min-height: 100%;
  }

  .message-button {
    margin-left: auto;
    margin-right: 29px;
    @include spacing(422px, 941px, 156px, 49px);
  }
}

.each-reply {
  min-height: 218px;
  max-height: 218px;
  /* Layout Properties */
  display: flex;
  margin-left: 157px;
  margin-right: 154px;
  margin-top: 48px;

  .message-container {
    min-width: 792px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    box-shadow: 0px 8px 20px #0000004D;
    width: 100%;
    opacity: 1;

    .message-username {
      font-size: 25px;
      margin-left: 40px;
    }

    .message-input {
      text-align: left;
      margin-left: 40px;
      font: normal normal normal 20px/34px Open Sans;
      letter-spacing: 0px;
      color: #141C3A;
      opacity: 1;
    }
  }

  .upvote-container {
    display: flex;
    align-items: center;
    min-width: 66px;
    min-height: 100%;
  }

  .message-button {
    margin-left: auto;
    margin-right: 29px;
    @include spacing(422px, 941px, 156px, 49px);
  }
  
}

.each-reply:first-child {
    margin-top: 58px;
}
