@import '../../../scss/variables.scss';

.each-post {
  /* Layout Properties */
  display: flex;

  @include spacing(280px, 157px, 969px, 218px);
  margin-right: 154px;
  opacity: 1;

}

.each-reply {
  /* Layout Properties */
  @include spacing(546px, 268px, 858px, 218px);
  display: flex;
  margin-right: 154px;
  margin-top: 48px;

}

.message-container {
  min-width: 792px;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  box-shadow: 0px 8px 20px #0000004D;
  width: 100%;
  opacity: 1;
}


.message-input {
  @include comment-styles;
  text-align: left;
  margin-left: 40px;
  font: normal normal normal 20px/34px Open Sans;
  opacity: 1;
}

.message-username {
  @include width-height(334px, 55px);
  font: normal normal 600 25px/34px Open Sans;
  margin: 35px 0px 8px 40px;
  text-align: left;
  font-size: 25px;
  opacity: 1;
}


.message-button {
  margin-left: auto;
  margin-right: 29px;
  @include spacing(422px, 941px, 156px, 49px);

}


.upvote-container {
  display: flex;
  align-items: center;
  min-width: 66px;
  min-height: 100%;
}

.each-reply:first-child {
    margin-top: 58px;
}
